.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:rgba(70, 0, 128, 0.29);
    pointer-events: none; /* Prevent the cursor from blocking interactions */
    transition: background-color 0.5s;
    z-index: 10;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}



@keyframes sparkle {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.2) translateY(-10px);
        opacity: 0.8;
    }
    100% {
        transform: scale(0.5) translateY(-20px);
        opacity: 0;
    }
}
